.footer-container {
    height: 3rem;
    background-color: #fafafa;
    border: solid 1px #cccccc;
    border-radius: 0 0 0.5rem 0.5rem;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-size: 1.4rem;
    color: #3a3a3a;
    padding-right: 1rem;
}
